<footer>
	<div>
		<a href="{{ path('impressum') }}">Impressum</a>
		<a href="mailto:ftleven@gmx.de">
		{% image 'bundles/app/images/email.png' %}
			<img src="{{ asset_url }}" width="25" height="15" alt="Kontakt per Email" />
		{% endimage %}
		</a>
		&reg; 2015 Frank-Thomas Leven
	</div>
</footer>